<JavaScript>
<script type="text/javascript">
  function bt(btnNo){
    document.form.action=btnNo;
    document.form.submit();
  }
  window.onload = function(){
    $(arrow_box).hide();
  }
</script>
<%= flash.notice %>
<%= flash.alert %>
<h1>select</h1>

<%= form_tag('', :method => :put, :id => "form", :name => "form") do |f| %>

  <% i = 0;%>
  <% @cards.each do |card| %>
    <%= check_box_tag 'selected[]', card.id, false, {} %>
   <span><%= string_length_format(card.name) %></span>
    <p class="arrow_box" id="arrow_box">
     《<%= card.name %>》
     コスト：<%= card.cost %><br>
     『<%= card.text %>』<br>
      <%= image_tag card.image_name %>
　　</p>
    <% i+=1 %>
    <% if i%5 == 0 %>
      <br>
    <% end %>
  <% end %>

  <br>
  <%= text_field_tag 'list_name' %>
  <%= submit_tag "Save",    :onclick => "bt('create');" %>
  <%= submit_tag "Start",   :onclick => "bt('../play/index');" %>
  <%= submit_tag "Cancel",  :onclick => "bt('../config/index');" %>
<% end %>
