<JavaScript>
<script type="text/javascript">
  function bt(btnNo){
    document.form.action=btnNo;
    document.form.submit();
  }
</script>
<h1>config</h1>

<%= form_tag('', :method => :put, :id => "form", :name => "form") do |f| %>
  プレイ人数：　<%= select :menber, :number, [["2", 2], ["3", 3], ["4", 4]] %><br>
  王国カード：　<%= select :list, :name, @lists.map{|l| [l.name, l.id]} %><br>
  <%= link_to '自分で選択する', :controller => "select", :action => "new" %><br>
  <br>
  <br>
  <%= submit_tag "Start",   :onclick => "bt('../play/index');" %>
<% end %>
