<p id="notice"><%= notice %></p>

<p>
  <strong>Card:</strong>
  <%= @card.card_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @card.text %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @card.cost %>
</p>

<p>
  <strong>Type1:</strong>
  <%= @card.type1 %>
</p>

<p>
  <strong>Type2:</strong>
  <%= @card.type2 %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
